<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01" target="_blank">
    <img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skill Network Logo" />
    </a>
</p>

## Exercise 1: Create a Jupyer Notebook

## Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

## Exercise 3 - Create a markdown cell for an introduction
## Exercise 10 - Insert a markdown cell to list Objectives

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science
* Multiply and add numbers
* Convert minutes to hours

## Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libriries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

## Exercise 6 - Create a markdown cell with a table of Data Science Tools

|Data Science Tools|
|---------------------------------------|
|Jupyter Notebook|
|VSCode|
|RStudio|

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

## Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to multiply then add integers

In [54]:
(3*4)+5

17

## Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by dividing by 60

In [60]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Miguel Pereira